{namespace bp = BK2K\BootstrapPackage\ViewHelpers}
<f:if condition="{items}">
    <div class="row">
        <div class="col-sm-12">
            <h3>{data.header}</h3>
        </div>
        <div class="col-sm-8">
            <f:for each="{items}" as="item" iteration="itemIteration">
                <bp:fal data="{item}" as="images" table="tx_bootstrappackage_carousel_item">
                    <f:if condition="{images}">
                        <div id="carousel-{item.uid}" class="carousel carousel-gallery slide {f:if(condition: itemIteration.isFirst,then:'active',else:'hidden')}" data-interval="5000" data-ride="carousel">
                            <div class="carousel-inner">
                                <f:for each="{images}" as="image" iteration="iteration">
                                    <div class="item{f:if(condition: iteration.isFirst,then:' active')} carousel-item-type carousel-item-type-{item.item_type}" data-itemno="{iteration.index}" style="{itemStyle}">
                                        <f:image src="{image.uid}" alt="" height="500c" treatIdAsReference="1" />
                                        <f:if condition="{image.description}">
                                            <figcaption class="gallery-caption">{image.description}</figcaption>
                                        </f:if>
                                    </div>
                                </f:for>
                            </div>
                            <f:if condition="{images -> f:count()} > 1">
                                <ol class="carousel-indicators">
                                    <f:for each="{images}" as="image" iteration="iteration">
                                        <li data-target="#carousel-{item.uid}" data-slide-to="{iteration.index}" class="{f:if(condition: iteration.isFirst,then:'active')}"></li>
                                    </f:for>
                                </ol>
                                <f:link.page class="left carousel-control" additionalAttributes="{data-slide: 'prev'}" section="carousel-{item.uid}">
                                    <span class="arrow-left"></span>
                                </f:link.page>
                                <f:link.page class="right carousel-control" additionalAttributes="{data-slide: 'next'}" section="carousel-{item.uid}">
                                    <span class="arrow-right"></span>
                                </f:link.page>
                            </f:if>
                        </div>
                    </f:if>
                </bp:fal>
            </f:for>
        </div>
        <div class="col-sm-4">
            <div class="list-group gallery-navigation">
                <f:format.html>{data.bodytext}</f:format.html>
                <f:for each="{items}" as="item" iteration="secondItemIteration">
                    <a href="#carousel-{item.uid}" class="list-group-item {f:if(condition: secondItemIteration.isFirst,then:'active')}">
                        {item.header}
                        <br>
                        <small>{item.bodytext}</small>
                    </a>
                </f:for>
            </div>
            <small id="figcaption"></small>
        </div>
    </div>
</f:if>