{namespace bp = BK2K\BootstrapPackage\ViewHelpers}
<f:link.page pageUid="{item.uid}" title="{item.subtitle}">
    <bp:fal data="{item}" as="images" table="pages" field="media">
        <f:if condition="{images}">
            <f:image src="{images.0.uid}" alt="" width="365" height="360" treatIdAsReference="1" class="img-responsive" />
        </f:if>
    </bp:fal>
    <h4>{item.title}</h4>
    <p>{item.abstract}</p>
</f:link.page>