<f:layout name="Default" />
<f:section name="Main">
    <div class="well hidden-xs">
        <div class="container" id="header">
            <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="100" />
        </div>
    </div>
    <div class="container content ">
        <div class="row">
            <f:cObject typoscriptObjectPath="lib.navigation.breadcrumb" />
        </div>
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="110" />
    </div>
    <f:cObject typoscriptObjectPath="lib.wellContent" data="120" />
</f:section>