<!-- ###master_input### -->
###error_###fieldname######
<div class="type-text form-group">
    <label class="sr-only" for="###fieldname###" id="label_###fieldname###" ###is_error_###fieldname######>###LLL:###fieldname######
        ###required_###fieldname######</label>
    <input placeholder="###LLL:###fieldname###### ###required_###fieldname######" type="text" class="form-control"
           id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######"/>
</div>
<!-- ###master_input### -->

<!-- ###master_begleitung### -->
<input type="hidden" class="indicator" value="###value_begleitung###" name="###formValuesPrefix###[begleitung]"/>
<!-- ###master_begleitung### -->

<!-- ###master_rechnung### -->
<input type="hidden" class="indicator" value="###value_rechnung###" name="###formValuesPrefix###[rechnung]"/>
<!-- ###master_rechnung### -->


<!-- ###master_sub### -->
###error_sub_###fieldname######
<div class="type-text form-group">
    <label class="sr-only" for="###fieldname###" id="label_###fieldname###" ###is_error_sub_###fieldname######>###LLL:###fieldname######
        ###required_sub_###fieldname######</label>
    <input placeholder="###LLL:###fieldname###### ###required_sub_###fieldname######" type="text" class="form-control"
           id="sub_###fieldname###" name="###formValuesPrefix###[sub_###fieldname###]"
           value="###value_sub_###fieldname######"/>
</div>
<!-- ###master_sub### -->

<!-- ###master_textarea### -->
###error_###fieldname######
<div class="type-text form-group">
    <label class="sr-only" for="###fieldname###" id="label_###fieldname###" ###is_error_###fieldname######>###LLL:###fieldname######
        ###required_###fieldname######</label>
    <textarea placeholder="###LLL:###fieldname###### ###required_###fieldname######" rows="3" class="form-control"
              cols="30" id="###fieldname###"
              name="###formValuesPrefix###[###fieldname###]">###value_###fieldname######</textarea>
</div>
<!-- ###master_textarea### -->

<!-- ###master_input_ajax### -->
###error_###fieldname######
<div class="type-text form-group ajax">
    <label class="sr-only" for="###fieldname###">###LLL:###fieldname###### ###required_###fieldname######</label>
    <input placeholder="###LLL:###fieldname###### ###required_###fieldname######" type="text" class="form-control"
           id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######"/>
    ###validate_###fieldname######
</div>
<!-- ###master_input_ajax### -->

<!-- ###master_textarea_ajax### -->
###error_###fieldname######
<div class="type-text form-group ajax">
    <label class="sr-only" for="###fieldname###">###LLL:###fieldname###### ###required_###fieldname######</label>
    <textarea placeholder="###LLL:###fieldname###### ###required_###fieldname######" rows="3" cols="30"
              id="###fieldname###" class="form-control" name="###formValuesPrefix###[###fieldname###]">###value_###fieldname######</textarea>
    ###validate_###fieldname######
</div>
<!-- ###master_textarea_ajax### -->


<!-- ###master_gender### -->
###error_gender###
<div class="type-select form-group">
    <label class="sr-only" for="gender" ###is_error_gender###>###LLL:gender### ###required_gender###</label>
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-form">
            <input type="radio" name="###formValuesPrefix###[gender]" id="option1" value="m" ###selected_gender_m###/>
            ###LLL:gender.m###
        </label>
        <label class="btn btn-form">
            <input type="radio" name="###formValuesPrefix###[gender]" value="f" ###selected_gender_f###>
            ###LLL:gender.f###
        </label>
    </div>
    ###validate_gender###
</div>
<!-- ###master_gender### -->

<!-- ###master_registration-type### -->
###error_gender###
<div class="type-select form-group">
    <label class="sr-only" for="registration-type" ###is_error_registration-type###>###LLL:registration-type###
        ###required_registration-type###</label>
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-form">
            <input type="radio" name="###formValuesPrefix###[registration-type]" id="option1" value="1"
                   ###selected_registration-type_1###/>
            ###LLL:registration-type.1###
        </label>
        <label class="btn btn-form">
            <input type="radio" name="###formValuesPrefix###[registration-type]" value="2"
                   ###selected_registration-type_2###>
            ###LLL:registration-type.2###
        </label>
    </div>
    ###validate_registration-type###
</div>
<!-- ###master_registration-type### -->

<!-- ###master_signup### -->
###error_signup###
<div class="type-select form-group">
    <label class="sr-only" for="signup-incube" ###is_error_signup###>###LLL:signup-incube###
        ###required_signup-incube###</label>
    <div class="checkbox">
        <label>
            <input type="radio" name="###formValuesPrefix###[signup]" id="option2" value="dialog-and-award"
                   ###checked_signup_incube###/>
            ###LLL:signup.incube###
        </label>
    </div>
    ###validate_signup###
</div>
<!-- ###master_signup### -->

<!-- ###master_programm### -->
###error_programm###
<div class="type-select form-group">
    <p>Rahmenprogramm:</p>
    <label class="sr-only" for="programm" ###is_error_programm###>###LLL:programm### ###required_programm###</label>
    <div class="checkbox">
        <label>
            <input type="radio" name="###formValuesPrefix###[programm]" id="option1" value="newsroom"
                   ###checked_programm_mx-dialouge###/>
            ###LLL:programm.newsroom###
        </label>
    </div>
    <label class="sr-only" for="programm-museum" ###is_error_programm###>###LLL:programm-museum###
        ###required_programm-museum###</label>
    <div class="checkbox">
        <label>
            <input type="radio" name="###formValuesPrefix###[programm]" id="option2" value="museum"
                   ###checked_programm_incube###/>
            ###LLL:programm.museum###
        </label>
    </div>
    <label class="sr-only" for="programm-no" ###is_error_programm###>###LLL:programm-no###
        ###required_programm-museum###</label>
    <div class="checkbox">
        <label>
            <input type="radio" name="###formValuesPrefix###[programm]" id="option3" value="no"
                   ###checked_programm_incube###/>
            ###LLL:programm.no###
        </label>
    </div>
    ###validate_programm###
</div>
<!-- ###master_programm### -->

<!-- ###master_reportyear### -->
###error_reportyear###
<div class="type-select form-group" style="position:absolute;">
    <div class="checkbox">
        <label class="sr-only" for="reportyear" ###is_error_reportyear###>###LLL:reportyear###
            ###required_reportyear###</label>
        <div class="btn-group">
            <button type="button" class="btn btn-form dropdown-toggle" data-toggle="dropdown">
                <span>Jahr</span> <i class="caret"></i>
            </button>
            <input type="hidden" name="###formValuesPrefix###[reportyear]" value="###value_###reportyear######"/>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">###LLL:reportyear.2017###</a></li>
                <li><a href="#">###LLL:reportyear.2016###</a></li>
                <li><a href="#">###LLL:reportyear.2015###</a></li>
                <li><a href="#">###LLL:reportyear.2014###</a></li>
                <li><a href="#">###LLL:reportyear.2013###</a></li>
                <li><a href="#">###LLL:reportyear.2012###</a></li>
                <li><a href="#">###LLL:reportyear.2011###</a></li>
                <li><a href="#">###LLL:reportyear.2010###</a></li>
                <li><a href="#">###LLL:reportyear.2009###</a></li>
                <li><a href="#">###LLL:reportyear.2008###</a></li>
            </ul>
        </div>
        ###validate_reportyear###
    </div>
</div>
<!-- ###master_reportyear### -->


<!-- ###master_interests### -->
###error_interests###
<div class="type-check form-group">
    <label class="sr-only" for="interests-no" ###is_error_interests###>###LLL:interests###
        ###required_interests###</label>

    <div class="col-sm-10">
        <div class="checkbox">
            <label for="interests_emailmarketing">
                <input type="checkbox" name="###formValuesPrefix###[interests][]" id="interests_emailmarketing"
                       value="emailmarketing" ###checked_interests_emailmarketing###/>
                ###LLL:gender.m###
            </label>
        </div>
        <div class="checkbox">
            <label for="interests_services">
                <input type="checkbox" name="###formValuesPrefix###[interests][]" id="interests_services"
                       value="services" ###checked_interests_services###/>
                ###LLL:interests_services###
            </label>
        </div>
    </div>

</div>
<!-- ###master_interests### -->


<!-- ###master_file### -->
###error_###fieldname######
<div class="type-text form-group type-file">
    <label class="sr-only" for="###fieldname###" ###is_error_###fieldname######>###LLL:###fieldname######
        ###required_###fieldname######</label>
    <input placeholder="###LLL:###fieldname######" type="file" id="###fieldname###"
           name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######"/>
    <input placeholder="###LLL:###fieldname######" type="submit" ###submit_reload###
           class="button btn btn-default submit" value="###LLL:submit_reload###"/>
</div>
<div class="type-text form-group">
    <div class="fileupload-info">
        <span class="label">###LLL:allowedTypes###</span> <span class="info">######fieldname###_allowedTypes###</span>
        <span class="label">###LLL:maxSize###</span> <span class="info">######fieldname###_maxSize###</span>
        <br/>
        <span class="label">###LLL:uploadedFiles_count###</span> <span class="info">######fieldname###_fileCount### / ######fieldname###_maxCount###</span>
    </div>
</div>
######fieldname###_uploadedFiles###
<!-- ###master_file### -->

<!-- ###master_basicfile### -->
###error_###fieldname######
<div class="type-text form-group type-file">
    <label class="sr-only" for="###fieldname###" ###is_error_###fieldname######>###LLL:###fieldname######
        ###required_###fieldname######</label>
    <input placeholder="###LLL:###fieldname######" type="file" id="###fieldname###"
           name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######"/>
</div>
<div class="type-text form-group">
    <div class="fileupload-info">
        <span class="label">###LLL:allowedTypes###</span> <span class="info">######fieldname###_allowedTypes###</span>
        <span class="label">###LLL:maxSize###</span> <span class="info">######fieldname###_maxSize###</span>
    </div>
</div>
<!-- ###master_basicfile### -->

<!-- ###master_checkbox### -->
###error_###fieldname######
<div class="form-group" style="overflow:hidden; margin-bottom: 0;">
    <div class="checkbox">
        <label for="###fieldname###">
            <input placeholder="###LLL:###fieldname######" type="checkbox" id="###fieldname###"
                   name="###formValuesPrefix###[###fieldname###]" value="yes" ###checked_###fieldname###_yes###/>
            ###LLL:###fieldname######
        </label>
    </div>
</div>
<!-- ###master_checkbox### -->

<!-- ###master_checkboxrequired### -->
###error_###fieldname######
<div class="form-group" style="overflow:hidden; margin-bottom: 0;">
    <div class="checkbox">
        <label for="###fieldname###">
            <input required type="checkbox" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]"
                   value="yes" ###checked_###fieldname###_yes###/>
            ###LLL:###fieldname######
        </label>
    </div>
</div>
<!-- ###master_checkboxrequired### -->

<!-- ###master_spamprotection-captcha### -->
<div class="type-text form-group">
    ###error_captchafield###
    <label>###LLL:captcha### ###required_captchafield###</label>
    <div class="captcha">
        ###CAPTCHA###
        <input placeholder="###LLL:###fieldname######" type="text" name="###formValuesPrefix###[captchafield]"/>
    </div>
</div>
<!-- ###master_spamprotection-captcha### -->

<!-- ###master_spamprotection-jm_recaptcha### -->
<div class="type-text form-group">
    ###error_recaptcha_response_field###
    <label>###LLL:captcha### *</label>
    <div class="recaptcha">
        ###RECAPTCHA###
    </div>
</div>
<!-- ###master_spamprotection-jm_recaptcha### -->

<!-- ###master_spamprotection-sr_freecap### -->
<div class="type-text form-group">
    ###error_freecapfield###
    <label>###SR_FREECAP_NOTICE### ###required_freecapfield###</label>
    <div class="sr_freecap">
        ###SR_FREECAP_IMAGE###
        <div class="sr_freecap-input">
            <input placeholder="###LLL:###fieldname###### ###required_###fieldname######" type="text" size="15"
                   id="freecapfield" name="###formValuesPrefix###[freecapfield]" title="###SR_FREECAP_NOTICE###"
                   value=""/>
            ###SR_FREECAP_CANT_READ###
        </div>
    </div>
</div>
<!-- ###master_spamprotection-sr_freecap### -->

<!-- ###master_spamprotection-wt_calculating_captcha### -->
<div class="type-text form-group">
    ###error_wt_calculating_captchafield###
    <label>###LLL:captcha### ###required_wt_calculating_captchafield###</label>
    <div class="wt_captcha">
        ###WT_CALCULATING_CAPTCHA###
        <input placeholder="###LLL:###fieldname###### ###required_###fieldname######" type="text"
               name="###formValuesPrefix###[wt_calculating_captchafield]"/>
    </div>
</div>
<!-- ###master_spamprotection-wt_calculating_captcha### -->

<!-- ###master_spamprotection-mathguard### -->
<div class="type-text form-group">
    ###error_mathguard_answer###
    <label>###LLL:captcha### *</label>
    <div class="mathguard">
        ###MATHGUARD###
    </div>
</div>
<!-- ###master_spamprotection-mathguard### -->

<!-- ###master_spamprotection-timecheck### -->
<input placeholder="###LLL:###fieldname######" type="hidden" name="###formValuesPrefix###[formtime]"
       value="###TIMESTAMP###"/>
<!-- ###master_spamprotection-timecheck### -->

<!-- ###master_mandatory### -->
<p class="mandatory pull-right">
    <small>###LLL:mandatory###</small>
</p>
<!-- ###master_mandatory### -->

<!-- ###master_note### -->
<span class="note">###LLL:note.###fieldname######</span>
<!-- ###master_note### -->

<!-- ###master_submit### -->
<button btn btn-default type="submit" ###submit_nextStep### class="button btn btn-info submit"/>
<span>###LLL:submit###</span></button>
<!-- ###master_submit### -->

<!-- ###master_reset### -->
<button btn btn-default type="reset" class="button btn btn-info submit"/><span>###LLL:reset###</span></button>
<!-- ###master_reset### -->

<!-- ###master_next### -->

<button btn btn-default type="submit" ###submit_nextStep### class="button btn btn-info submit next"/><span>###LLL:next###</span></button>

<!-- ###master_next### -->

<!-- ###master_prev### -->

<button btn btn-default type="submit" ###submit_prevStep### class="button btn btn-info submit prev"/><span>###LLL:prev###</span></button>

<!-- ###master_prev### -->

<!-- ###master_form-start### -->
<form action="###REL_URL###" method="post" class="yform columnar" id="###fieldname###">
    ###HIDDEN_FIELDS###
    <h2>###LLL:label_fieldset###</h2>
    <!-- ###master_form-start### -->

    <!-- ###master_multipart-form-start### -->
    <form action="###REL_URL###" method="post" class="yform columnar" id="###fieldname###"
          enctype="multipart/form-data">
        ###HIDDEN_FIELDS###
        <h2>###LLL:label_fieldset###</h2>
        <!-- ###master_multipart-form-start### -->

        <!-- ###master_form-end### -->
    </form>
    <!-- ###master_form-end### -->

    <!-- ###master_section-start### -->
    <fieldset>
        <!-- ###master_section-start### -->

        <!-- ###master_section-end### -->
    </fieldset>
    <!-- ###master_section-end### -->

    <!-- ###master_email-user-start-plain### -->
    <!-- ###master_email-user-start-plain### -->
    <!-- ###master_email-user-end-plain### -->
    <!-- ###master_email-user-end-plain### -->
    <!-- ###master_email-admin-start-plain### -->
    <!-- ###master_email-admin-start-plain### -->
    <!-- ###master_email-admin-end-plain### -->
    <!-- ###master_email-admin-end-plain### -->
    <!-- ###master_email-user-start-html### -->
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html>
    <head>
        <style id="cr_style">

            h1, h2, h3, h4, h5, h6 {
                margin: 0 0 10px 0;
                color: #008ab4;
            }

            .background {
                background-color: #FFFFFF;
            }

            a {
                color: #008ab4;
                font-weight: 700;
                text-decoration: none;
            }

            .text {
                color: #666666;
                font-size: 16px;
                font-family: tahoma, verdana, sans-serif;
            }

            body {
                margin: 0pt;
                padding: 0pt;
                background-color: #ffffff;
                width: 100% ! important;
                color: #666666;
                font-size: 16px;
                line-height: 24px;
                font-family: tahoma, verdana, sans-serif;
            }

            .coloured {
                background: #ffffff;
            }

            .coloured:nth-child(2n+1) {
                background: #f5f5f5;
            }
        </style>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0"
          style="color: #666666; font-size: 12px; font-family: arial; margin: 0; padding: 0; background-color: #FFFFFF; width: 100% !important;">
    <center>
        <table class="background text" border="0" cellpadding="0"
               cellspacing="0" height="100%" width="100%">
            <tr>
                <td align="center" valign="top">

                    <table border="0" class="text" cellpadding="0" cellspacing="0"
                           height="100%" width="602">
                        <tr>
                            <td align="left" valign="top">

                                <table width="600" class="text" align="center" cellpadding="0"
                                       cellspacing="0" cr_edit="Content"
                                       style="background-color: #f5f5f5; border: 0px solid #cccccc">
                                    <tr>
                                        <td width="100%" valign="top">

                                            <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                <tr>
                                                    <td class="text">
                                                        <!-- ###master_email-user-start-html### -->

                                                        <!-- ###master_email-user-end-html### -->
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>

                                <table border="0" cellpadding="10" cellspacing="0" width="100%"
                                       style="background:#2d383f;">
                                    <tr>
                                        <td valign="top" cr_edit="footer" class="text"
                                            style="color:#f5f5f5;font-size:12px;">
                                            <table width="100%">
                                                <tr>
                                                    <td colspan="2">
                                                        <h3>Impressum</h3>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size:12px;">Verband f&uuml;r Produktions- und
                                                        Logistikmanagement e.V.<br/>c/o Technische Universit&auml;t
                                                        Berlin<br/> Fachgebiet Logistik, Sekr. H90<br/>Straße des 17. Juni
                                                        135 <br/> 10623 Berlin<br/>T: +49 89 3066882 -10<br/>F: +49 89
                                                        3066882 -29<br/>info@manufacturing-excellence.de<br/>www.manufacturing-excellence.de
                                                        | www.vplm.de
                                                    </td>
                                                    <td style="font-size:12px;">Vertretungsberechtigter Vorstand: <br/>Prof.
                                                        Dr.-Ing. Raimund Klinkner<br/>(1. Vorsitzender)<br/>Sven M&ouml;ller<br/>(stellv.
                                                        Vorsitzender)<br/>Registergericht: <br/>Vereinsregister
                                                        Berlin<br/>St.-Nr.: 27/640/57629<br/>USt.-IdNr.: DE264443499
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>

                                    </tr>
                                </table>
                                <br/>
                                <!--#badget #--> <!--#/badget#--></td>
                        </tr>
                    </table>
                </td>

            </tr>
        </table>
    </center>
    </body>
    </html>
    <!-- ###master_email-user-end-html### -->
    <!-- ###master_email-admin-start-html### -->

    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html>
    <head>

        <style id="cr_style">

            h1, h2, h3, h4, h5, h6 {
                margin: 0 0 10px 0;
                color: #008ab4;
            }

            .background {
                background-color: #FFFFFF;
            }

            a {
                color: #008ab4;
                font-weight: 700;
                text-decoration: none;
            }

            .text {
                color: #666666;
                font-size: 16px;
                font-family: tahoma, verdana, sans-serif;
            }

            body {
                margin: 0pt;
                padding: 0pt;
                background-color: #ffffff;
                width: 100% ! important;
                color: #666666;
                font-size: 16px;
                line-height: 24px;
                font-family: tahoma, verdana, sans-serif;
            }

            .coloured {
                background: #ffffff;
            }

            .coloured:nth-child(2n+1) {
                background: #f5f5f5;
            }
        </style>


    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0"
          style="color: #666666; font-size: 12px; font-family: arial; margin: 0; padding: 0; background-color: #FFFFFF; width: 100% !important;">
    <center>
        <table class="background text" border="0" cellpadding="0"
               cellspacing="0" height="100%" width="100%">
            <tr>
                <td align="center" valign="top">

                    <table border="0" class="text" cellpadding="0" cellspacing="0"
                           height="100%" width="602">
                        <tr>
                            <td align="left" valign="top">

                                <table width="600" class="text" align="center" cellpadding="0"
                                       cellspacing="0" cr_edit="Content"
                                       style="background-color: #f5f5f5; border: 0px solid #cccccc">
                                    <tr>
                                        <td width="100%" valign="top">

                                            <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                <tr>
                                                    <td class="text">
                                                        <table>
                                                            <!-- ###master_email-admin-start-html### -->

                                                            <!-- ###master_email-admin-end-html### -->
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>

                                <table border="0" cellpadding="10" cellspacing="0" width="100%"
                                       style="background:#2d383f;">
                                    <tr>
                                        <td valign="top" cr_edit="footer" class="text"
                                            style="color:#f5f5f5;font-size:12px;">
                                            <table width="100%">
                                                <tr>
                                                    <td colspan="2">
                                                        <h3>Impressum</h3>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size:12px;">Verband f&uuml;r Produktions- und
                                                        Logistikmanagement e.V.<br/>c/o Technische Universit&auml;t
                                                        Berlin<br/> Fachgebiet Logistik, Sekr. H90<br/>Straße des 17. Juni
                                                        135 <br/> 10623 Berlin<br/>T: +49 89 3066882 -10<br/>F: +49 89
                                                        3066882 -29<br/>info@manufacturing-excellence.de<br/>www.manufacturing-excellence.de
                                                        | www.vplm.de
                                                    </td>
                                                    <td style="font-size:12px;">Vertretungsberechtigter Vorstand: <br/>Prof.
                                                        Dr.-Ing. Raimund Klinkner<br/>(1. Vorsitzender)<br/>Sven M&ouml;ller<br/>(stellv.
                                                        Vorsitzender)<br/>Registergericht: <br/>Vereinsregister
                                                        Berlin<br/>St.-Nr.: 27/640/57629<br/>USt.-IdNr.: DE264443499
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>

                                    </tr>
                                </table>
                                <br/>
                                <!--#badget #--> <!--#/badget#--></td>
                        </tr>
                    </table>
                </td>

            </tr>
        </table>
    </center>
    </body>
    </html>
    <!-- ###master_email-admin-end-html### -->

    <!-- ###master_email-line-plain### -->
    ###LLL:###fieldname###### ###value_###fieldname######
    <!-- ###master_email-line-plain### -->

    <!-- ###master_email-line-html### -->
    <tr>
        <td valign="top"><strong>###LLL:###fieldname######</strong></td>
        <td>###value_###fieldname######</td>
    </tr>
    <!-- ###master_email-line-html### -->

    <!-- ###master_email-line-html-sub### -->
    <tr>
        <td valign="top"><strong>###LLL:###fieldname######</strong></td>
        <td>###value_sub_###fieldname######</td>
    </tr>
    <!-- ###master_email-line-html-sub### -->

    <!-- ###master_email-line-html-report### -->
    <tr>
        <td valign="top"><strong>###LLL:###fieldname###_report###</strong></td>
        <td>###value_###fieldname######</td>
    </tr>
    <!-- ###master_email-line-html-report### -->


    <!-- ###master_email-line-html-dropdown### -->
    <tr>
        <td valign="top"><strong>###LLL:###fieldname######</strong></td>
        <td>###LLL:###fieldname###.###value_###fieldname#########</td>
    </tr>
    <!-- ###master_email-line-html-dropdown### -->

    <!-- ###master_email-line-html-checkbox### -->
    <tr>
        <td valign="top"></td>
        <td><strong>###LLL:###fieldname######</strong></td>
    </tr>
    <!-- ###master_email-line-html-checkbox### -->


    <!-- ###master_email-line-plain-report### -->
    ###LLL:###fieldname###_report### ###value_###fieldname######
    <!-- ###master_email-line-plain-report### -->

    <!-- ###master_email-line-plain-dropdown### -->
    ###LLL:###fieldname###_report### ###LLL:###fieldname###.###value_###fieldname#########
    <!-- ###master_email-line-plain-dropdown### -->

    <!-- ###master_email-line-plain-checkbox### -->
    ###LLL:###fieldname###### ###LLL:###value_###fieldname#########
    <!-- ###master_email-line-plain-checkbox### -->
