<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-2 col-sm-4">
                <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="210"/>
            </div>
            <div class="col-md-4 col-lg-2 col-sm-4">
                <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="220"/>
            </div>
            <div class="col-md-4 col-lg-2 col-sm-4">
                <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="230"/>
            </div>
            <div class="col-md-4 col-lg-2 col-sm-4">
                <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="240"/>
            </div>
            <div class="col-md-4 col-lg-2 col-sm-4">
                <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="250"/>
            </div>
            <div class="col-md-4 col-lg-2 col-sm-4">
                <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="260"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-8 col-lg-4 col-sm-12 col-sm-offset-0">
                <f:cObject typoscriptObjectPath="lib.newsletter" />
            </div>
        </div>
        <p class="copyright">&COPY; 2017 Manufacturing Excellence</p>
    </div>
</footer>