<!-- ###TEMPLATE_FORM1### begin -->


<form method="post" id="formhandler_newsletter_form" class="form-inline" action="###REL_URL###" enctype="multipart/form-data">
    <input type="hidden" name="formhandler[submitted]" value="1" />
    <div class="row">

        ###error_email###
        <label for="email" class="sr-only" >###LLL:email### ###required_email###</label>
        <div class="col-xs-10 col-sm-6 col-md-10">

            <input type="text" name="formhandler[email]" id="email" class="form-control" placeholder="###LLL:email###" value="###value_email###"/>
        </div>
        ###master_spamprotection-timecheck###
        <button type="submit" class="btn btn-default">&raquo;</button>
        <input type="hidden" ###submit_nextStep### value="###LLL:submit###" />
    </div>
</form>
<!-- ###TEMPLATE_FORM1### end -->


<!-- ###TEMPLATE_SUBMITTEDOK### begin -->
<div id="form-success">
    <p>Vielen Dank für Ihre Anmeldung.</p>
</div>


<!-- ###TEMPLATE_SUBMITTEDOK### end -->

<!-- ###TEMPLATE_EMAIL_ADMIN_PLAIN### -->
###master_email-admin-start-plain###
###master_email-line-plain_email###
###master_email-admin-end-plain###
<!-- ###TEMPLATE_EMAIL_ADMIN_PLAIN### -->

<!-- ###TEMPLATE_EMAIL_ADMIN_HTML### -->
###master_email-admin-start-html###
###master_email-line-html_email###
###master_email-admin-end-html###
<!-- ###TEMPLATE_EMAIL_ADMIN_HTML### -->

<!-- ###TEMPLATE_EMAIL_USER_PLAIN### -->
###master_email-user-start-plain###
Sehr geehrte Damen und Herren,

vielen Dank für Ihre Anmeldung und Ihr Interesse am Newsletter von Manufacturing Excellence.
Ihre Anmeldung ist bei uns eingegangen und wird schnellstmöglich bearbeitet.

Mit freundlichen Grüßen

Ihr MX Team

###master_email-user-end-plain###
<!-- ###TEMPLATE_EMAIL_USER_PLAIN### -->

<!-- ###TEMPLATE_EMAIL_USER_HTML### -->
###master_email-user-start-html###
<p><strong>Sehr geehrte Damen und Herren,</strong></p>

<p>vielen Dank für Ihre Anmeldung und Ihr Interesse am Newsletter von Manufacturing Excellence.<br>
    Ihre Anmeldung ist bei uns eingegangen und wird schnellstmöglich bearbeitet. </p>

<p>Mit freundlichen Grüßen</p>

<p>Ihr MX Team</p>

###master_email-user-end-html###
<!-- ###TEMPLATE_EMAIL_USER_HTML### -->