<!-- ###TEMPLATE_FORM1### begin -->


###master_multipart-form-start_contact-form###
###master_section-start###
###master_input_company###
<div class="row">
    <div class="col-sm-3">
        ###master_gender###
    </div>
    <div class="col-sm-9">
        ###master_input_title###
    </div>
</div>

###master_input_lastname###
###master_input_firstname###

<div class="row">
    <div class="col-sm-6">
        ###master_input_position###
    </div>
    <div class="col-sm-6">
        ###master_input_department###
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        ###master_input_telephone###
    </div>
    <div class="col-sm-6">
        ###master_input_mobile###
    </div>
</div>
###master_input_email###

<div class="panel-group" id="begleitung">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <span class="glyphicon glyphicon-plus"></span> Begleitperson
            </h6>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                ###master_begleitung###
                ###master_sub_title###
                ###master_sub_lastname###
                ###master_sub_firstname###
                <div class="row">
                    <div class="col-sm-6">
                        ###master_sub_position###
                    </div>
                    <div class="col-sm-6">
                        ###master_sub_department###
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        ###master_sub_telephone###
                    </div>
                    <div class="col-sm-6">
                        ###master_sub_mobile###
                    </div>
                </div>
                ###master_sub_email###
            </div>
        </div>
    </div>
</div>

###master_input_street###
<div class="row">
    <div class="col-sm-3">
        ###master_input_postalcode###
    </div>
    <div class="col-sm-9">
        ###master_input_city###
    </div>
</div>
<div class="panel-group" id="rechnung">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                <span class="glyphicon glyphicon-plus"></span> abweichende Rechnungsadresse
            </h6>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                ###master_rechnung###
                ###master_sub_company###
                ###master_sub_street###
                <div class="row">
                    <div class="col-sm-3">
                        ###master_sub_postalcode###
                    </div>
                    <div class="col-sm-9">
                        ###master_sub_city###
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
###master_checkbox_mxdialogue###
###master_checkbox_price###
<div class="form-group" style="margin-top: 30px;">
    ###master_submit###
</div>
###master_spamprotection-timecheck###
###master_section-end###
###master_mandatory###
###master_form-end###


<!-- ###TEMPLATE_FORM1### end -->


<!-- ###TEMPLATE_SUBMITTEDOK### begin -->

<div id="form-success">
    <p>Vielen Dank für Ihre Nachricht. Wir werden diese so schnell wie möglich bearbeiten.</p>
</div>


<!-- ###TEMPLATE_SUBMITTEDOK### end -->


<!-- ###TEMPLATE_EMAIL_ADMIN_PLAIN### -->
###master_email-admin-start-plain###

###master_email-line-plain_company###
###master_email-line-plain-dropdown_gender###
###master_email-line-plain_title###
###master_email-line-plain_firstname###
###master_email-line-plain_lastname###
###master_email-line-plain_position###
###master_email-line-plain_department###
###master_email-line-plain_telephone###
###master_email-line-plain_mobile###
###master_email-line-plain_email###
###master_email-line-plain_street###
###master_email-line-plain_postalcode###
###master_email-line-plain_city###

<!-- ###IF_begleitung### -->
Begleitperson:

###master_email-line-plain-sub_title###
###master_email-line-plain-sub_firstname###
###master_email-line-plain-sub_lastname###
###master_email-line-plain-sub_position###
###master_email-line-plain-sub_department###
###master_email-line-plain-sub_telephone###
###master_email-line-plain-sub_mobile###
###master_email-line-plain-sub_email###
<!-- ###IF_END### -->

<!-- ###IF_rechnung### -->
Abweichende Rechnungsadresse:

###master_email-line-plain-sub_company###
###master_email-line-plain-sub_street###
###master_email-line-plain-sub_postalcode###
###master_email-line-plain-sub_city###
<!-- ###IF_END### -->

###master_email-line-plain-checkbox_mxdialogue###
###master_email-line-plain-checkbox_price###

###master_email-admin-end-plain###
<!-- ###TEMPLATE_EMAIL_ADMIN_PLAIN### -->

<!-- ###TEMPLATE_EMAIL_ADMIN_HTML### -->
###master_email-admin-start-html###

###master_email-line-html_company###
###master_email-line-html-dropdown_gender###
###master_email-line-html_title###
###master_email-line-html_firstname###
###master_email-line-html_lastname###
###master_email-line-html_department###
###master_email-line-html_position###
###master_email-line-html_telephone###
###master_email-line-html_mobile###
###master_email-line-html_email###
###master_email-line-html_street###
###master_email-line-html_postalcode###
###master_email-line-html_city###

<!-- ###IF_begleitung### -->
<tr>
    <td valign="top" colspan="2"><strong>Begeleitperson</strong><td>
</tr>

###master_email-line-html-sub_title###
###master_email-line-html-sub_firstname###
###master_email-line-html-sub_lastname###
###master_email-line-html-sub_position###
###master_email-line-html-sub_department###
###master_email-line-html-sub_telephone###
###master_email-line-html-sub_mobile###
###master_email-line-html-sub_email###
<!-- ###IF_END### -->

<!-- ###IF_rechnung### -->
<tr>
    <td valign="top" colspan="2"><strong>Abweichende Rechnungsadresse</strong><td>
</tr>
###master_email-line-html-sub_company###
###master_email-line-html-sub_street###
###master_email-line-html-sub_postalcode###
###master_email-line-html-sub_city###
<!-- ###IF_END### -->


<!-- ###IF_mxdialogue### -->
###master_email-line-html-checkbox_mxdialogue###
<!-- ###IF_END### -->
<!-- ###IF_price### -->
###master_email-line-html-checkbox_price###
<!-- ###IF_END### -->

###master_email-admin-end-html###
<!-- ###TEMPLATE_EMAIL_ADMIN_HTML### -->

<!-- ###TEMPLATE_EMAIL_USER_PLAIN### -->
###master_email-user-start-plain###
Sehr geehrte Damen und Herren,

vielen Dank für Ihr Interesse und Ihre Anmeldung. 
Ihre Anmeldung ist bei uns eingegangen und wird schnellstmöglich bearbeitet. 
Sie erhalten in Kürze eine separate Anmeldebestätigung von uns.

Mit freundlichen Grüßen

Ihr MX Team

###master_email-user-end-plain###
<!-- ###TEMPLATE_EMAIL_USER_PLAIN### -->

<!-- ###TEMPLATE_EMAIL_USER_HTML### -->
###master_email-user-start-html###
<p><strong>Sehr geehrte Damen und Herren,</strong></p>

<p>vielen Dank für Ihr Interesse und Ihre Anmeldung.<br> 
    Ihre Anmeldung ist bei uns eingegangen und wird schnellstmöglich bearbeitet. <br>
    Sie erhalten in Kürze eine separate Anmeldebestätigung von uns.</p>

<p>Mit freundlichen Grüßen</p>

<p>Ihr MX Team</p>

###master_email-user-end-html###
<!-- ###TEMPLATE_EMAIL_USER_HTML### -->