/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/***** ÜBERSCHRIFTEN ****

* Rubrik: Versal, 22 PX Regular
* Teaser: Normal, 24px Light
* Footer: 18px, Bold, Underline --> 15px light
Breadcrum: 18px Regular
* Page: Normal, 32px light, 22px Regular
* Aside: 24px , light

h2 -> 32px light
h3 -> 22px regular versal
h4 -> 24 px light, color
h5 -> 18px bold, footer:underline

** ENDE ****/

body {
    padding-bottom: 0;
}

p {
    line-height: 26px;
}

h2 {
    font-size: 32px;
    font-weight: 300;
}

h3 {
    font-size: 22px;
    text-transform: uppercase;
}

.main-content h3 {
    color: #333;
}

h4 {
    font-size: 24px;
    font-weight: 300;
}

h5 {
    font-size: 18px;
    font-weight: 700;
}

aside h2, aside h3, aside h4 {
    color: #333;
}

.main-content h2:first-child {
    margin-top: 0;
}

footer {
    background: #2d383f;
    color: #fff;
    padding: 30px 0 20px 0;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5 {
    color: #fff;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 11px;
    font-size: 18px;
    border-bottom: 1px solid #bbb;
}

footer nav ul {
    margin: 0;
    padding: 0;
}

footer nav ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer nav a {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

footer nav a:hover {
    color: #fff;
}

.text-default {
    color: #323232;
}

.jumbotron {
    background: #f5f5f5;
}

.label {
    border-radius: 0;
}

.well {
    padding-top: 0;
    padding-bottom: 45px;
}

.well {
    border-radius: 0;
    background: #f5f5f5;
    border: none;
    box-shadow: none;
    margin-bottom: 0;
    overflow: hidden;
}

.panel {
    border-radius: 3px;
    border: 1px solid #ebebeb;
    background: transparent;
    box-shadow: none;
}

table {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    table-layout: fixed;
}

table td {
    overflow: hidden;
    text-overflow: ellipsis;
}

table.table-bordered {
    border: none;
    margin: 0;
}

.table-bordered > tbody > tr > td,
.table-bordered > thead > tr > th {
    border: none;
}

.table-bordered > thead > tr > th {
    border-bottom: 2px solid #ebebeb;
}

.table-bordered > tbody > tr > td {
    border-bottom: 1px solid #ebebeb;
}

.table-bordered > tbody > tr:last-child > td {
    border: none;
}

.btn {
    background: #ebebeb;
    box-shadow: none;
    font-size: 14px;
}

.btn-info {
    color: #322322;
    border: 1px solid #322322;
    text-shadow: none;
    background: #fff;
}

.btn-info.active, .btn-info:hover, .btn-info:focus {
    background: #ebebeb;
    color: #333;
}

.btn-form {
    color: #474949;
    border: 1px solid #ccc;
    background: #fff;
}

.btn-form.active {
    background: #ebebeb;
    color: #333;
}

.content {
    padding-bottom: 25px;
}

.carousel-control {
    text-shadow: none;
}

.carousel-control.left, .carousel-control.right {
    background: none;
}

.carousel-inner img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.carousel-inner {
    max-height: 500px;
}

.carousel-indicators {
    width: 80%;
    left: 40%;
}

.gallery-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background: rgba(0, 138, 180, 0.5);
    padding: 10px;
    color: #fff;
}

#login .form-group {
    margin-bottom: 10px;
    width: 100%;
}

/** NAVIGATION **/

.navbar-toggle {
    background: #008ab4;
}

.navbar-toggle .icon-bar {
    color: #fff;
    background: #fff;
}

.arrow-left, .arrow-right {
    background: url(../img/arrow-left.png) no-repeat 0 0;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    width: 15px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
}

.arrow-right {
    background: url(../img/arrow-right.png) no-repeat 0 0;
}

#button-navigation.nav.navbar-nav > li > a,
#main-navigation.nav.navbar-nav > li > a {
    border-bottom: 1px solid #ccc;
}

.sub-navigation li > a {
    padding-left: 45px;
}

@media (max-width: 768px) {
    aside .image-beside-right .image-wrap, aside .image-beside-left .image-wrap {
        float: left !important;
    }
}

@media (min-width: 768px) {
    .sub-navigation {
        background: #008ab4;
        display: none;
        position: absolute;
        font-size: 16px;
        left: 0;
        z-index: 500;
        padding: 10px;
    }

    .navbar {
        padding-top: 15px;
        margin: 0;
        background: #f5f5f5;
    }

    #main-navigation {
        /* margin-top: 35px; */
    }

    #button-navigation {
        margin-left: -15px;

        width: 100%;
    }

    #button-navigation > li > a {
        height: 100px;
        width: 163px;
        padding: 0;
        color: #91979a;
        text-indent: -9999px;
        background: url(../img/mx-menu-icons.png) no-repeat 0 0;
    }

    #button-navigation > li:nth-child(5) > a {
        background-position: -187px 0px;
    }

    #button-navigation > li:nth-child(2) > a {
        background-position: -377px 0px;
    }

    #button-navigation > li:nth-child(3) > a {
        background-position: -568px 0px;
    }

    #button-navigation > li:nth-child(4) > a {
        background-position: -752px 0px;
    }

    .triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-color: #f5f5f5 transparent transparent transparent;
        position: absolute;
        top: 0;
        right: 20px;
    }

    .triangle-navigation {
        right: 0;
        left: 70px;
        top: -8px;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7px 8px 7px;
        border-color: transparent transparent #008ab4 transparent;
    }

    #button-navigation > li:nth-child(5) .triangle-navigation {
        right: 0;
        left: 750px;
        top: -8px;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7px 8px 7px;
        border-color: transparent transparent #008ab4 transparent;
    }

    #button-navigation > li:nth-child(2) .triangle-navigation {
        right: 0;
        left: 240px;
        top: -8px;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7px 8px 7px;
        border-color: transparent transparent #008ab4 transparent;
    }

    #button-navigation > li:nth-child(3) .triangle-navigation {
        right: 0;
        left: 408px;
        top: -8px;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7px 8px 7px;
        border-color: transparent transparent #008ab4 transparent;
    }

    #button-navigation > li:nth-child(4) .triangle-navigation {
        right: 0;
        left: 577px;
        top: -8px;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7px 8px 7px;
        border-color: transparent transparent #008ab4 transparent;
    }

    #main-navigation > li .triangle-navigation {
        right: 0;
        left: 1000px;
        top: -8px;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7px 8px 7px;
        border-color: transparent transparent #008ab4 transparent;
    }

    #button-navigation > li a:hover {
        color: #323232;
    }

    #button-navigation > li {
        margin-right: 6px;
        padding-bottom: 26px;
    }

    #button-navigation > li:last-child {
        margin-right: 0;
        padding-bottom: 26px;
    }

    #button-navigation > li > a:hover,
    #button-navigation > li.active > a {
        background-position: 0 -145px;
        text-shadow: none;
    }

    #button-navigation > li:nth-child(5) > a:hover,
    #button-navigation > li:nth-child(5).active > a {
        background-position: -187px -145px;
        text-shadow: none;
    }

    #button-navigation > li:nth-child(2) > a:hover,
    #button-navigation > li:nth-child(2).active > a {
        background-position: -377px -145px;
        text-shadow: none;
    }

    #button-navigation > li:nth-child(3) > a:hover,
    #button-navigation > li:nth-child(3).active > a {
        background-position: -568px -145px;
    }

    #button-navigation > li:nth-child(4) > a:hover,
    #button-navigation > li:nth-child(4).active > a {
        background-position: -752px -145px;
    }

    #button-navigation > li > a > p.highlight {
        background: #91979a;
        color: #fff;
        text-align: left;
        padding-top: 12px;
        font-weight: 300;
        padding-left: 10px;
        text-shadow: none;
        font-size: 24px;
        height: 50px;
        position: relative;
    }

    #button-navigation li a:hover p.highlight {
        background: #323232;
    }

    #button-navigation .sub-navigation {
        top: 253px;
    }

    .sub-navigation {
        left: 10px;
        width: 720px;
    }

    #button-navigation > li.active .sub-navigation,
    #main-navigation > li.active .sub-navigation {
        display: block;
    }

    #main-navigation > li .sub-navigation {
        left: -870px;
    }

    .sub-navigation a {
        font-size: 18px;
        color: #323232 !important;
        text-shadow: none !important;
        font-weight: 300;
        padding-left: 0;
    }

    .sub-navigation a:hover, .sub-navigation li.active a {
        background: none !important;
        color: #fff !important;
        text-shadow: none;
    }

    .sub-navigation .nav > li {
        display: inline;
    }

    .sub-navigation .nav > li > a {
        display: inline;
        color: #fff;
        padding: 0 10px
    }

    #main-navigation > li > a {
        color: #323232;
        display: inline-block;
        float: right;
    }

    #meta-navigation {
        font-size: 13px;
        font-weight: 300;
    }

    #meta-navigation > li > a {
        color: #323232;
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
    }

    #meta-navigation > li > a:hover, #meta-navigation > li.active > a {
        background: none;
        color: #008ab4;
    }

    #main-navigation {
        font-size: 18px;
        font-weight: 400;

        /* top: -87px; */
        margin-top: 20px;
    }

    #main-navigation > li > a:hover, #main-navigation > li.active > a {
        background: none;
        color: #008ab4;
    }

    #main-navigation > li {
        height: 56px;
    }

    .copyright {
        margin-top: 55px;
    }

    .no-right-margin {
        padding-right: 0;
    }

    .breadcrumb {
        padding-left: 0;
        margin-top: 22px;
        font-size: 18px;
    }

    .breadcrumb a {
        color: #91969a;
    }

    .breadcrumb > li {
        color: #91969a;
        font-size: 18px;
    }

    .breadcrumb > .active {
        color: #91969a;
    }

    .breadcrumb > li + li:before {
        content: '';
        background: url(../img/arrow.svg) 4px 2px no-repeat;
        display: inline-block;
        width: 25px;
        height: 20px;
    }

    aside {
        width: 31% !important;
        margin-left: 15px;
    }

    #main-navigation > li .sub-navigation {
        left: 10px;
        top: 77px;
    }

    #button-navigation.nav.navbar-nav > li > a,
    #main-navigation.nav.navbar-nav > li > a {
        border-bottom: none;
    }
}

@media (min-width: 800px) {
    .sub-navigation {
        left: 0;
    }

    #main-navigation > li .sub-navigation {
        left: 0;
    }
}

@media (min-width: 1000px) {

    #button-navigation .sub-navigation, #main-navigation .sub-navigation {
        top: 203px;
    }

    .sub-navigation {
        width: 940px;
        left: 0;
    }

    #main-navigation > li .sub-navigation {
        left: 0;
        top: 77px;
    }

}

@media (min-width: 1125px) {
    #button-navigation > li:hover .sub-navigation,
    #main-navigation > li:hover .sub-navigation {
        display: block;
    }

    #button-navigation .sub-navigation, #main-navigation .sub-navigation {
        top: 127px;
    }

    .sub-navigation {
        width: 1140px;
        left: 0;
    }

    #main-navigation > li .sub-navigation {
        left: -856px;
        top: 77px;
    }

}

.teaser a p {
    color: #323232;
}

.teaser a:hover {
    text-decoration: none;
}

aside p {
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
}

aside .box {
    border-bottom: 1px solid #ccc;
}

aside .box:last-child {
    border: none;
}

/* IMAGE */

.image {
    display: block;
    margin-bottom: 50px;
    line-height: 1.42857143;
}

#header .image {
    margin-bottom: 0;
}

.image > img,
.image a > img, .img-responsive {
    display: block;
    width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    .image > img,
    .image a > img {
        /*margin: 0 auto;*/
    }
}

.image .caption {
    padding: 9px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.image-row {
    margin-left: -15px;
    margin-right: -15px;
}

.image-column {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 992px) {
    .image-column {
        float: left;
    }
}

.image-wrap {
    max-width: 100%;
}

.image-below .image-wrap {
    margin-top: 20px;
}

.image-center-outer {
    width: 100%;
    position: relative;
    float: right;
    right: 50%;
}

.image-center-inner {
    width: 100%;
    position: relative;
    float: right;
    right: -50%;
}

.image-left .image-wrap {
    float: left;
}

.image-left .text {
    clear: left;
}

.image-right .image-wrap {
    float: right;
}

.image-right .text {
    clear: right;
}

.image-wrap:before,
.image-below:before,
.image-above:before,
.image-beside:before,
.image-intext:before,
.image-wrap:after,
.image-below:after,
.image-above:after,
.image-beside:after,
.image-intext:after {
    content: " ";
    display: table;
}

.image-wrap:after,
.image-below:after,
.image-above:after,
.image-beside:after,
.image-intext:after {
    clear: both;
}

.image-wrap:before,
.image-below:before,
.image-above:before,
.image-beside:before,
.image-intext:before,
.image-wrap:after,
.image-below:after,
.image-above:after,
.image-beside:after,
.image-intext:after {
    content: " ";
    display: table;
}

.image-wrap:after,
.image-below:after,
.image-above:after,
.image-beside:after,
.image-intext:after {
    clear: both;
}

.image-beside-left .image-wrap,
.image-intext-left .image-wrap {
    float: left;
    margin-left: -15px;
}

.image-beside-right .image-wrap,
.image-intext-right .image-wrap {
    float: right;
    margin-right: -15px;
}

.image-beside-left .image-wrap,
.image-beside-right .image-wrap,
.image-intext-left .image-wrap,
.image-intext-right .image-wrap {
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

.image-beside-right,
.image-beside-left {
    overflow: hidden;
    zoom: 1;
}

.image-beside-right .text,
.image-beside-left .text {
    overflow: hidden;
    zoom: 1;
}

@media (max-width: 767px) {
    .image-beside-right .image-wrap,
    .image-beside-left .image-wrap {
        margin-left: -15px;
        margin-right: -15px;
        max-width: none;
        float: none;
    }

    .navbar {
        background: #f5f5f5;
        padding-bottom: 10px;
        overflow: hidden;
    }
}

.image-header-1 .image-wrap,
.image-header-2 .image-wrap,
.image-header-3 .image-wrap {
    margin-top: 20px;
}

.image-header-4 .image-wrap,
.image-header-5 .image-wrap,
.image-header-6 .image-wrap {
    margin-top: 10px;
}

.image-center img {
    /*margin: 0 auto;*/
}

aside .image {
    margin-bottom: 0;
}

.list-group {
    box-shadow: none;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background: #008ab4;
    text-shadow: none;
    box-shadow: none;
}

input::-webkit-input-placeholder {
    color: rgba(153, 153, 153, .5);
}

input::-moz-placeholder {
    color: rgba(153, 153, 153, .5);
}

input:-moz-placeholder {
    /* Older versions of Firefox */
    color: rgba(153, 153, 153, .5);
}

input:-ms-input-placeholder {
    color: rgba(153, 153, 153, .5);
}

.form-control {
    color: #474949;
    font-size: 14px;
}

.form-group .checkbox label {
    font-size: 14px;
}

.form-group .dropdown-menu {
    min-width: 0;
    font-size: 14px;
}

#formhandler_newsletter_form .form-control {
    width: 100%;
}

.alert.alert-danger {
    background: none;
}

.teaser {
    min-height: 410px;
}

.image-intext-left.image-intext .image, .image-beside-left.image-beside .image, .col-sm-4 .image {
    margin-bottom: 0;
}

#c25 {
    top: -36px;
    position: relative;
}

[data-toggle="collapse"]:hover {
    cursor: pointer;
}

.logo {
    margin: 0 auto;
    margin-top: 10px;
}

input[type=radio] {
    margin-left: -20px;
}


#footer-content .box-footer-hidden {
    display: none !important;
}