
@import "bootstrap.min.css";
@import "bootstrap-theme.min.css";
@import "main.css";

body {
    font-size: 12px;
}

h2.text-default, h3.text-default, h4.text-default {
    color: #333;
}


ul.list-unstyled {}
ul.list-inline {}

p.lead {}
p.text-left {}
p.text-center {}
p.text-right {}
p.label {}
p.label-primary{}
p.label.label-primary{}

a.btn {}
a.btn-default {}
a.btn-primary {}
a.btn-success {}
a.btn-warning {}
a.btn-block {}