<div class="navbar" role="navigation">
    <div class="container">
        <div class="pull-left hidden-lg hidden-md hidden-sm">
            <f:cObject typoscriptObjectPath="lib.logo" />
        </div>
        <div class="navbar-header navbar-header-main">
            <f:if condition="{f:cObject(typoscriptObjectPath:'lib.navigation.main')}">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </f:if>
        </div>
        <div class="navbar-collapse collapse">
            <div class="row">
                <div class="col-lg-9 col-sm-10 col-md-10" style="padding-right:0;">
                    <f:cObject typoscriptObjectPath="lib.navigation.main" />
                </div>
                <div class="col-lg-3 col-sm-12 col-md-2 no-right-margin">
                    <f:cObject typoscriptObjectPath="lib.navigation.service" />
                </div>
                <div class="col-lg-3 col-sm-12 col-md-12 no-right-margin">
                    <f:cObject typoscriptObjectPath="lib.navigation.meta" />
                </div>
            </div>
        </div>
    </div>
</div>
