{namespace bp = BK2K\BootstrapPackage\ViewHelpers}
<div class="valign">
    <div class="carousel-image vcontainer">
        <bp:fal data="{item}" as="images" table="tx_bootstrappackage_carousel_item">
            <f:if condition="{images}">
                <f:if condition="{data.layout} == 110">
                    <f:then>
                        <f:image src="{images.0.uid}" alt="" width="400" height="400c" treatIdAsReference="1" />
                    </f:then>
                    <f:else>
                        <f:if condition="{images.0.link}">
                            <f:then>
                                <f:link.page pageUid="{images.0.link}">
                                    <f:image src="{images.0.uid}" alt="" width="1165" height="360c" treatIdAsReference="1" />
                                </f:link.page>
                            </f:then>
                            <f:else>

                                <f:image src="{images.0.uid}" alt="" width="1165" height="360c" treatIdAsReference="1" />
                            </f:else>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </bp:fal>
    </div>    
</div>